.DS_Store
.*.swp
.*.swo
*.pyc
__pycache__
.pytest_cache

.vscode
.vscode/*
*.code-workspace

.ruby-version
*.pem
00-dev-environment/aws-mfa-cli/.venv
07-load-balancing/my-aws-private.key
07-load-balancing/my-aws-public.crt